<template>
  <div id="Historial">
    
    <div class="container">
      <h2>
        Titular Cuenta:
        <span>{{ username }}</span>
      </h2>
      <h2>
        Última compra:
        <span> {{ registerByUser[0].dateOfPurchase.substring(0, 10) }} - {{ registerByUser[0].dateOfPurchase.substring(11, 19) }} </span>
      </h2>
    </div>
    
    <h2>Registros</h2>
    <div class="container-table">
        <table>
            <tr>
                <th>Fecha</th>
                <th>Productos</th>             
                <th>Valor</th>
            </tr>
            
            <tr v-for="register in registerByUser" :key="register.id">
                <td>{{ register.dateOfPurchase.substring(0, 10) }} - {{ register.dateOfPurchase.substring(11, 19) }} </td>
                <td>
                  <span v-for="product in register.products" :key="product.name"> {{product.name}} - {{ product.value }} <br> </span>
                </td>
                <td>${{ register.value }} COP</td>
            </tr>
        </table>
    </div>
</div>

</template>


<script>
import gql from "graphql-tag";

export default {
    name: "Account",
    
    data: function () {
      return {
        username: localStorage.getItem("username") || "none",
        registerByUser: [],
        accountByUsername: {
          lastPurchase: "",
        }
      };
    },
    
    apollo: {
     registerByUser: {
         query: gql`
            query ($user: String!) {
              registerByUser(user: $user) {
                dateOfPurchase
                value
                products {
                  name
                  value
                }
              }
            }
         `,
         variables() {
           return {
             user: this.username,
           };
         },
      }
    },
    
    mounted: async function () {
        await this.$apollo.queries.registerByUser.refetch();
    },
    
};

</script>


<style>
#Historial {
  width: 100%;
  height: calc(100vh - 20vh);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#Historial .container-table{
  width: 500px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

#Historial table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#Historial table td,
#Historial table th{
  border: 1px solid #ddd;
  padding: 8px;
}

#Historial table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#Historial table tr:hover{
    background-color: #ddd;
}

#Historial table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: crimson;
    color: white;
}

#Historial> h2{
    color: #283747;
    font-size: 25px;
}

#Historial .container{
    padding: 30px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: 5% 0 1% 0;
}

#Historial .container h2{
    font-size: 25px;
    color: #283747;
}

#Historial .container span {
    color: crimson;
    font-weight: bold;
}

@media (max-width: 500px) {
  .container-table {
    width: 100%;
  }
}

</style>