<template>
  
  <div class="information">
    <h1>¡Bienvenido <span>{{ userDetailById.name }}</span>!</h1>
    
    <div class="details">
      <h2>Su información es la siguiente</h2>
      
      <p>
        Nombre de usuario:
        <span>{{ userDetailById.username }}</span>
      </p>
      
      <p>
        Correo electrónico:
        <span>{{ userDetailById.email }}</span>
      </p>
    </div>
  </div>

</template>


<script>
import gql from "graphql-tag";
import jwt_decode from "jwt-decode";

export default {
  name: "Home",
  
  data: function () {
    return {
      userId: jwt_decode(localStorage.getItem("token_refresh")).user_id,
      userDetailById: {
        username: "",
        name: "",
        email: "",
      },
    };
  },
  
  apollo: {
    userDetailById: {
      query: gql`
        query ($userId: Int!) {
          userDetailById(userId: $userId) {
            username
            name
            email
          }
        }
      `,
      variables() {
        return {
          userId: this.userId,
        };
      }
    },
  }
};

</script>


<style>

.information {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information h1 {
  font-size: 2.5rem;
  color: #379ca0;
}

.information h2 {
  font-size: 2rem;
  color: #379ca0;
}

.information span {
  color: rgb(8, 255, 181);
  font-weight: bold;
}

.details p {
  font-size: 1.5rem;
  color: #379ca0;
}

.details {
  border: 3px solid rgba(1, 44, 46, 0.3);
  border-radius: 20px;
  padding: 30px 80px;
  margin: 30px 0 0 0;
}

@media (max-width: 640px) {
  .details {
    padding: 30px 20px;
    border: none;
  }
}

</style>