<template>

    <div class="logIn_user">
        <div class="container_logIn_user">
            <h2>Iniciar sesión</h2>

            <form v-on:submit.prevent="processLogInUser" >
                <input type="text" v-model="user.username" placeholder="Usuario">
                <br>
                <input type="password" v-model="user.password" placeholder="Contrseña">
                <br>
                <button type="submit">Iniciar Sesion</button>
            </form>
        </div>

    </div>

</template>

<script>
import gql from "graphql-tag";

export default {
    name: "LogIn",
    
  data: function() {
    return {
      user: {
        username: "",
        password: "",
      },
    };
  },
  
  methods: {
   processLogInUser: async function() {
     await this.$apollo
       .mutate({
         mutation: gql`
           mutation($credentials: CredentialsInput!) {
             logIn(credentials: $credentials) {
               refresh
               access
             }
           }
        `,
        variables: {
           credentials: this.user,
        },
      })
      .then((result) => {
        let dataLogIn = {
          username: this.user.username,
          token_access: result.data.logIn.access,
          token_refresh: result.data.logIn.refresh,
        };
        
        this.$emit("completedLogIn", dataLogIn);
      })
      .catch((error) => {
        alert("ERROR 401: Credenciales Incorrectas.");
      });
   },
 },
}
</script>

<style scoped>

.logIn_user{
  height: calc(100vh - 20vh);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_logIn_user {
  box-sizing: border-box;
  border: 3px solid  #a5d6e9;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logIn_user h2{
  color: #99afd8;

}

.logIn_user form{
  width: 400px;
    
}

.logIn_user input{
  width: 100%;

  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;

  border: 1px solid #7cacdf;
}

.logIn_user button{
  width: 100%;
  height: 40px;

  color: #3317b1;
  background: #d0f9ff;
  border: 1px solid #417db9;

  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}

.logIn_user button:hover{
  color: #02101f;
  background: rgb(0, 235, 164);
  border: 1px solid #283747;
}

@media (max-width: 500px) {
  .container_logIn_user, .logIn_user form {
    width: 100%;
    border: none;
  }
}

</style>