<template>
    <div class="register">
        <h2>Realiza una nueva compra</h2>

        <form @submit.prevent="createRegister">
            <div>
                Acetaminofen <input type="number" v-model="acetaminofen" min="0" placeholder="Cantidad">
            </div>
            <div>
                Alcohol <input type="number" v-model="alcohol" min="0" placeholder="Cantidad">
            </div>
            <div>
                Aspirina <input type="number" v-model="aspirina" min="0" placeholder="Cantidad">
            </div>
            <div>
                Paracetamol <input type="number" v-model="paracetamol" min="0" placeholder="Cantidad">
            </div>
            <button>Comprar</button>
        </form>
    </div>
</template>

<script>

import gql from "graphql-tag";

export default {
    name: 'Register',
    data(){
        return {
            acetaminofen : 0,
            alcohol : 0,
            aspirina : 0,
            paracetamol : 0
        }
    },
    methods : {
        async createRegister() {
            let products = [
                {   
                    name: "acetaminofen",
                    value: 100
                },
                {
                    name: "alcohol",
                    value: 2000
                },
                {
                    name: "aspirina",
                    value: 1000
                },
                {
                    name: "paracetamol",
                    value: 500
                }
            ]

            let value = (this.acetaminofen * products[0].value) + (this.alcohol * products[1].value) + (this.aspirina * products[2].value) + (this.paracetamol * products[3].value)

            products = products.filter((product) => {
                switch (product.name) {
                    case "acetaminofen":
                        if (this.acetaminofen > 0) {
                            return product
                        } 
                        break;
                    
                    case "alcohol":
                        if (this.alcohol > 0) {
                            return product
                        } 
                        break;
                    
                    case "aspirina":
                        if (this.aspirina > 0) {
                            return product
                        } 
                        break;
                    
                    case "paracetamol":
                        if (this.paracetamol > 0) {
                            return product
                        } 
                        break;
                
                    default:
                        break;
                }
            })

            let registerInput = {
                user: localStorage.getItem("username"),
                products,
                value
            }

            await this.$apollo.mutate({
                mutation: gql`
                    mutation($register: RegisterInput!) {
                        createRegister(register: $register) {
                            user
                            dateOfPurchase
                        }
                    }
                `,
                variables: {
                    register: registerInput,
                },
            })
            .then( () => {
                alert(`Productos comprados`)
            })
            .catch((error) => {
                console.log(error)
                alert("ERROR");
            });
        }
    }
}
</script>

<style scoped>
.register {
    height: calc(100vh - 20vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register h2{
    font-size: 1.7rem;
    color: #379ca0;
}

.register form {
    width: 400px;
    box-sizing: border-box;
    border: 3px solid  #a5d6e9;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type=text], input[type=number]{

    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;

    border: 1px solid #7cacdf;
}

button {
    width: 100%;
    height: 40px;

    color: #3317b1;
    background: #d0f9ff;
    border: 1px solid #417db9;

    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0;
}

@media (max-width: 500px) {
  .register form {
    width: 100%;
    border: none;
  }
}
</style>