<template>
    <div class="createProduct">
        <h2>Crea un nuevo producto</h2>

        <form @submit.prevent="createProduct">
            <input type="text" placeholder="Nombre del producto" v-model="shop.name">
            <input type="number" placeholder="Valor del producto" v-model="shop.value">
            <button>Comprar</button>
        </form>
    </div>
</template>

<script>
import gql from "graphql-tag";

export default {
    name: 'Shop',
    data () {
        return {
            shop: {
                name: '',
                value: 0
            }
        }
    },
    methods: {
        async createProduct(){
            await this.$apollo.mutate({
                mutation: gql`
                    mutation($shop: ShopInput!) {
                        createShop(shop: $shop) {
                            name
                            value
                        }
                    }
                `,
                variables: {
                    shop: this.shop,
                },
            })
            .then(result => {
                this.shop.name = ''
                this.shop.value = 0
                console.log(result)
                alert(`Producto creado`)
            })
            .catch((error) => {
                console.log(error)
                alert("ERROR");
            });
        }
    }
}
</script>

<style scoped>

.createProduct {
    height: calc(100vh - 20vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createProduct h2{
    font-size: 1.7rem;
    color: #379ca0;
}

.createProduct form {
    width: 400px;
    box-sizing: border-box;
    border: 3px solid  #a5d6e9;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text], input[type=number]{
    width: 100%;

    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;

    border: 1px solid #7cacdf;
    width: 100%;
}

button {
    width: 100%;
    height: 40px;

    color: #3317b1;
    background: #d0f9ff;
    border: 1px solid #417db9;

    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0;
}

@media (max-width: 500px) {
  .createProduct form {
    width: 100%;
    border: none;
  }
}

</style>