<template>

    <div class="signUp_user">
        <div class="container_signUp_user">
            <h2>Registrarse</h2>

            <form v-on:submit.prevent="processSignUp" >
                <input type="text" v-model="user.username" placeholder="Usuario">
                <br>
                
                <input type="password" v-model="user.password" placeholder="Contraseña">
                <br>
                
                <input type="text" v-model="user.name" placeholder="Nombre">
                <br>

                <input type="email" v-model="user.email" placeholder="Correo">
                <br>

                <button type="submit">Registrarse</button>
            </form>
        </div>

    </div>

</template>

<script>
import gql from "graphql-tag";

export default {
    name: "SignUp",
    
    data: function() {
        return {
        user: {
            username: "",
            password: "",
            name: "",
            email: "",
        },
        };
    },
  methods: {
      processSignUp: async function() {
          await this.$apollo
            .mutate({
              mutation: gql`
                mutation($userInput: SignUpInput!) {
                  signUpUser(userInput: $userInput) {
                    refresh
                    access
                  }
                }
            `,
            variables: {
              userInput: this.user,
            },
          })
          .then((result) => {
            let dataLogIn = {
              username: this.user.username,
              token_access: result.data.signUpUser.access,
              token_refresh: result.data.signUpUser.refresh,
            };
            
            this.$emit("completedSignUp", dataLogIn);
          })
          .catch((error) => {
            alert("ERROR: Fallo en el registro.");
          });
      },
  },
}
</script>

<style>

.signUp_user{
  height: calc(100vh - 20vh);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_signUp_user {
  box-sizing: border-box;
  border: 3px solid  #a5d6e9;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUp_user h2{
  color: #99afd8;

}

.signUp_user form{
  width: 400px;

}

.signUp_user input{
    width: 100%;

    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;

    border: 1px solid #7cacdf;
}

.signUp_user button{
    width: 100%;
    height: 40px;

    color: #3317b1;
    background: #d0f9ff;
    border: 1px solid #417db9;

    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
}

.signUp_user button:hover{
    color: #02101f;
    background: rgb(0, 235, 164);
    border: 1px solid #283747;
}

@media (max-width: 500px) {
  .container_signUp_user, .signUp_user form {
    width: 100%;
    border: none;
  }
}

</style>