<template>
  <div class="app">
    <header>
      <p>Farmacia G7</p>

      <nav>
        <button v-if="is_auth" v-on:click="loadHome"> Inicio </button>
        <button v-if="is_auth" v-on:click="loadShop"> Shop </button>
        <button v-if="is_auth" v-on:click="loadRegister"> Nuevo registro </button>
        <button v-if="is_auth" v-on:click="loadAccount"> Cuenta </button>
        <button v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadLogIn" > Iniciar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadSignUp" > Registrarse </button>
      </nav>

    </header>
    
    <main>
      <router-view  
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
      >
      </router-view>
    </main>
    
    <footer >
      <p>Más cerca de ti</p>
    </footer>
  </div>
  

</template>

<script>

export default {
  name: 'App',
  computed: {
    is_auth: {
      get: function() {
        return this.$route.meta.requiresAuth;
      },
      set: function() { }
    }
  },
  methods:{
    loadLogIn: function(){
      this.$router.push({name: "logIn"})
    },
    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },
    completedLogIn: function(data) {
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      alert("Autenticación Exitosa");
      this.loadHome();
    },
    completedSignUp: function(data) {
      alert("Registro Exitoso");
      this.completedLogIn(data);
    },
    loadHome: function() {
      this.$router.push({ name: "home" });
    },
    loadAccount: function () {
      this.$router.push({ name: "account" });
    },
    loadShop: function () {
      this.$router.push({ name: "shop" });
    },
    loadRegister: function () {
      this.$router.push({ name: "register" });
    },
    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.loadLogIn();
    },
  }
}
</script>

<style>

* {
  box-sizing: border-box
}

body{
  margin: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

header{
  width: 100%;
  height: 10vh; 

  background-color: #00b8be ;
  color:#ffffff  ;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p{
  margin-left: 10px;
  font-size: 1.7rem;
}

header nav {
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 20px;
}

header nav button{
  margin-right: 10px;
  color: #000000;
  background: #90d4d4;
  border: 1px solid #346672;

  border-radius: 5px;
  padding: 10px;
}

header nav button:hover{
  color: #283747;
  background: #E5E7E9;
  border: 1px solid #E5E7E9;
}


main{
  min-height: calc(100vh - 20vh);
  background: #e9fafa ;
}

footer{
  width: 100%;
  height: 10vh; 
  background-color: #00b8be;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p{
  font-size: 1.7rem;
}
</style>
